@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-zinc-950 text-zinc-100;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-gold-400 via-gold-500 to-gold-600 bg-clip-text text-transparent;
  }
  
  .border-gradient {
    border-image: linear-gradient(to right, #facc15, #eab308, #ca8a04) 1;
  }
}
